.size {
 width: 62px;
 height: 55px;
}

ion-label {
  font-size: 155px;
}

.margin {
  margin-top: 3px;
}

.container {
  display: flex;
  margin: 10px;
  align-items: center;
}

.width {
  width: 100%;
}
