ion-avatar {
 width: 100px;
 height: 100px;
}

.flex {
 display: flex;
}

.padding2 {
 padding-left: 15px;
 padding-top: 10px;
}

.padding {
 padding-left: 15px;
}

ion-item:focus {
 border-bottom: 2px solid blue;
}

ion-item:active {
 border-bottom: 2px solid blue;
}

ion-label:hover {
 color: blue !important;
}

ion-label:active {
 color: blue !important;
}
