ion-avatar {
 width: 100px;
 height: 100px;
}

.flex {
 display: flex;
}

.padding2 {
 padding-left: 15px;
 padding-top: 10px;
}

.padding {
 padding-left: 15px;
}

ion-item {
 --highlight-height: 2px;
 --highlight-color-focused: #43e7f3;
 --highlight-color-valid: #6f58d8;
 --highlight-color-invalid: #ff46be;
}